.page-header {
	/* Get rid of line under page header */
	border-bottom: none;

	/* Get rid of padding between page title and top of page */
	margin: 0;
}

/* Center header text */
.title {
	text-align: center;
	font-size: 3.5em;
}

/* Get rid of underline under all links when hovering */
a:hover {
	text-decoration: none;
}

/* Add line under other page headers */
h2 {
	padding-bottom: 1%;
	border-bottom: 1px solid #EEEEEE;
}

/* Increase font size for sections */
#about, #portfolio, #contact {
	font-size: 1.4em;
}

/* Space sections out a bit */
#about {
	padding-bottom: 1.5em;
}

footer {
	padding-bottom: 3em;
}

/* Thumbnail boxes */
.thumbnail {
	border: none;
}

.thumbnail .btn {
	margin-top: 2%;
}

.thumbnail img {
	padding-top: 4%;
}

/* Social media icons */
#social-icons {
	text-align: center;
}

#social-icons li {
	padding: 0;
}
