/* Get rid of underline under all links when hovering */
a:hover {
	text-decoration: none;
}

/* Increase font size for sections */
#about, #portfolio, #contact {
	font-size: 1.3em;
}

/* Space sections out a bit */
#about {
	padding-bottom: 1.5em;
}

footer {
	padding-bottom: 3em;
}

/* Header */
/* Center header text */
.title {
	text-align: center;
}

/* Social media icons */
#social-icons {
	text-align: center;
}

#social-icons li {
	padding: 0;
}

/* Portfolio thumbnail boxes */
.thumbnail {
	border: none;
}

.thumbnail .btn {
	margin-top: 0.2em;
}

.thumbnail #app-store-badge {
	margin-top: 1em;
}
